menu "Network Manager Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "your_ssid"
        help
            SSID of the WiFi network to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "your_password"
        help
            Password of the WiFi network.

    config ESP_MAXIMUM_RETRY
        int "Maximum Wifi Connection Retries"
        default 5
        help
            Set the number of retries for WiFi connection.

    config MQTT_BROKER_URI
        string "MQTT Broker URI"
        default "mqtt://mqtt.eclipseprojects.io"
        help
            The URI of the MQTT broker to connect to.

    config MQTT_TOPIC
        string "MQTT Topic"
        default "/topic/test"
        help
            The MQTT topic to subscribe to.

    config MQTT_USERNAME
        string "MQTT Username"
        default ""
        help
            The MQTT Username.

    config MQTT_PASSWORD
        string "MQTT Password"
        default ""
        help
            The MQTT Password.

endmenu
